.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  text-align: center;
}

button {
  margin: 5px 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

th {
  border-bottom: 2px solid gray;
  text-align: center;
  padding: 8px;
}

.back-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

.back-button:hover {
  background-color: #09122c;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.view-details-link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.justify-between {
  justify-content: space-between;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.h-20vh {
  height: 20vh;
}

.text-2rem {
  font-size: 2rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn {
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  transition: 200ms;
  width: 10rem;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  touch-action: manipulation;
}

.form-container {
  border-radius: 30px;
  padding: 0.5rem 1rem;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.gap-4 {
  gap: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.input-text {
  outline: 0;
  border-width: 0 0 2px;
  border-color: gray;
  background-color: transparent;
  width: 80%;
}

.input-text:focus {
  border-color: black;
  outline: 1px dotted #000;
  background-color: transparent;
}

.bold {
  font-weight: bold;
}

.w-full {
  width: 100%;
}

.flex-col {
  flex-direction: column;
}

.submit-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgb(27 31 35 / 15%);
  border-radius: 6px;
  box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.submit-button:hover {
  background-color: #2c974b;
}

.submit-button:focus {
  box-shadow: rgb(46 164 79 / 40%) 0 0 0 3px;
  outline: none;
}

.submit-button:disabled {
  background-color: #94d3a2;
  border-color: rgb(27 31 35 / 10%);
  color: rgb(255 255 255 / 80%);
  cursor: default;
}

.submit-button:active {
  background-color: #298e46;
  box-shadow: rgb(20 70 32 / 20%) 0 1px 0 inset;
}

.submit-button:focus:not(:focus-visible, .focus-visible) {
  box-shadow: none;
  outline: none;
}

.w-80 {
  width: 80%;
}

.w-max {
  width: max-content;
}

.edit-delete-btn:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.edit-delete-btn:not(:disabled):hover,
.edit-delete-btn:not(:disabled):focus {
  outline: 0;
  box-shadow:
    0 0 0 2px rgb(0 0 0 / 20%),
    0 3px 8px 0 rgb(0 0 0 / 15%);
}

.edit-color {
  background-color: #cabd00;
}

.edit-color:not(:disabled):hover,
.edit-color:not(:disabled):focus {
  background: #f4e603;
}

.delete-color {
  background-color: crimson;
}

.delete-color:not(:disabled):hover,
.delete-color:not(:disabled):focus {
  background: #d90000;
}

.add-color {
  background-color: darkblue;
}

.add-color:not(:disabled):hover,
.add-color:not(:disabled):focus {
  background-color: blue;
}

.table {
  height: 40vh;
  overflow: overlay;
  padding: 0;
  border: 2px solid gray;
}

.w-33 {
  width: 33%;
}

.justify-center {
  justify-content: center;
}

.text-20 {
  font-size: 1.25rem;
}

.w-120 {
  width: 120px;
}

.mr-8 {
  margin-right: 2rem;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.bg-red {
  background-color: red;
}

.bg-white {
  background-color: white;
}

.text-black {
  color: black;
}

.border-1px-black {
  border: 1px solid black;
}

.spinner {
  border: 8px solid rgb(255 255 255 / 30%);
  border-top: 8px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
